*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(34, 34, 44);
    color: white;
    font-family: "Borel", cursive;
}
nav 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
}
nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style-type: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(155, 155, 194);
    font-size: 1.04rem;
  }
  .left {
    font-size: 1.5rem;
  }
  .container{
    text-align: center;
    background-color: rgb(34, 34, 44);;
    margin-top: 60px;
  }
  table {
    margin: auto;
}

th {
    color: #FFFFFF;
}

input {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.countdown {
    display: flex;
    justify-content: center;
}

.heading {
    color: #F5F5F5;
    font-size: 18px;
    text-transform: uppercase;
}

.time {
    background-color: #090909;
    color: #FFFFFF;
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
}
footer 
{
    background-color: #0e0e1a;
}
.footer 
{
    display: flex;
    margin-top: 50px;
    padding: 23px 122px;
    justify-content: space-evenly;
}
footer .footer-rights 
{
    text-align: center;
    color: gray;
    padding: 12px 0px;
}